/*body {
  background: url('img/sunset.png') no-repeat;
  background-size: cover;
}

li{
  list-style: none;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;

}
h1{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px 8px #000000;
  font-size: 3em;
}
h2{
  color: #367AAB;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
}
.home {
  color: #ffffff;
  text-decoration: none;
  margin: 1em 2em;
}
.main {
  max-width: 85%;
  margin: 0 auto;
  text-align: center; 
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, .6);
  padding: 0 2em;
  height: 600px;
  overflow: scroll;
  margin-top: 3em;
}
h1 {
  margin-bottom: 0px;
}
h3 {
  margin: 0;
}
.date {
  font-style: italic;
  font-size: 14px;
}

.down {
  margin:0;
  font-size: 40px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}*/