
/*GLOBAL*/
body {
  text-align: center;
  margin: 4em;
}

.title {
  font-size: 48px;
  font-family: 'Kreon', serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 35px;
  font-family: 'Kreon', serif;
}

h2 {
  font-size: 20px;
  font-family: 'Kreon', serif;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

img {
  width: 10%;
  padding: 1em;
}

a {
    color: #EE3442;
}

.sign-up {
  display: none;
}

#atedrop1 {
  z-index: 1 !important;
}
/*END GLOBAL */

/* HEADER */
header.fixed {
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  z-index:2;
 background-color: #FFFFFF;
  font-size: 16px;
}

header.fixed .title {
    font-size:2.5em;
    margin: .5em;
    float: left;
}

h1.nav-margin-top.fixed {
  margin-top: 9em;
}

header.fixed p {
  float: right;
  margin-right: 12em;
  float: right;
}
header.fixed hr {
  display: none;
}

header.fixed .title .sign-up {
  display: inline;
}

/* END HEADER */

.sponsors {
  height: 35em;
}

.sponsor-blocks {
  width: 45%;
  float: left;
  margin: 0 auto;
  padding: 1em;
}

.sponsor-blocks img {
  width: 25%;
}

.schedule li {
  display: block;
  padding: .2em;
  font-weight: 700;
}

.schedule span {
  font-weight: 300;
}

.schedule-item.break {
  padding: 1em;
}
