// Colors
$c-black: #000000;
$c-white: #ffffff;
$c-light-blue:#BEF7FA;
$c-dark-blue:#053585;

// Base Font Size
$base-font-size: 16;

// Function to convert pixels to ems
@function px-to-em($px, $denominator: $base-font-size) {
  @return $px / $denominator * 1em;
}

// Breakpoints
$bp-tiny: px-to-em(500);
$bp-small: px-to-em(768);
$bp-med: px-to-em(1024);

// The max-width of the stage on full desktop in pixels (see mixin stagecenter)
$max-stage-width: 1024;

$no-query: '.no-mediaqueries';