// Type
$font-main: 'Source Sans Pro', Helvetica, san-serif;

// Colors
$color-body: #3b3b3b;

$color-teal: #8dbbdf;
$color-blue: #2a5c8f;
$color-orange: #c34423;
$color-off-white: #f7f3ea;
$color-light-gray: #cacaca;
$color-dark-gray: #39494f;

// Layout
$width-main: 900px;
$width-large: 1200px;


// Break
$break-large: 900px;
$break-medium: 600px;
$break-small: 400px;
