body {
  // background: url('../img/background.png');
  // background-size: cover; 
  // background-repeat: no-repeat; 
  color: $c-dark-blue;
  //position: relative;
  background: $c-light-blue;
  //overflow: hidden;
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url('../img/background.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}
.main-body-wrapper {
  width: 80%;
  margin: 0 auto;
}



.title {
  font-size: 48px;
  font-family: 'Kreon', serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  font-family: 'Kreon', serif;
  margin-top: 1.4em;
}

h2 {
  font-size: 20px;
  font-family: 'Kreon', serif;
  text-align: center;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

img {
  width: auto;
  padding: 1em;
  float: left;
}

a {
   
}

footer {
  height: 10em;
  padding: 4em;
  text-align: center;
}

.footer-list-item {
    padding: 1em;
}
.activities,
.skills {
  width: 46%;
  float: left;
  margin: 0 2%;
}

.feeds {
  overflow: hidden;
  width: 100%;
}
.twitter-feed,
.spotify-feed {
  width: 46%;
  float: left;
  margin: 0 2%;
}

.activities-list-item {
    display: block;
    margin: 0 0 1em 0;
}
.skills-list-item {
  padding: 1em;
}
