footer {
  height: 10em;
  padding: 4em;
  text-align: center;
  width: 85%;
  display: inline-block;
  text-align: center;
  float: right;
  /*height: 80px;*/
  background-color: #333333;
   li{
    display: inline;
    color: white;
  }
  
   img{
    margin: 10px;
    width: 40px;
    margin: 2em 0;
  }
}
