.about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  margin: 60px 0;
  @include breakpoint($break-large) {
    overflow: hidden;
    margin: auto;
  }
  .about-inner-wrapper {
    width: 70%;
    overflow: auto;
  }
  h2 {
    margin-bottom: 0;
    float: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
  }
  .two-thirds-wrapper {
    text-align: left;
	padding-left: 3em;

    .about-image {
      height: auto;
      max-height: 300px;
      float: right;
      width: 100%;
      @include breakpoint($break-large) {
        height: 100%;
        width: auto;
      }
    }
  }
}
.two-thirds-wrapper {
  box-sizing: border-box;
  width: 100%;
  float: none;
  @include breakpoint($break-large) {
    width: 65%;
    float: left;
  }
}
.one-third-wrapper {
  box-sizing: border-box;
  width: 100%;
  float: none;
  text-align: right;
  @include breakpoint($break-large) {
    width: 35%;
    float: left;
    text-align: left;
  }
}
