*{
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  // background: url('../img/background.png');
  // background-size: cover; 
  // background-repeat: no-repeat; 
  color: $c-dark-blue;
  //position: relative;
  background: $c-light-blue;
  //overflow: hidden;
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url('../img/background.png'); 
    background-size: initial;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;

    @include breakpoint($bp-small) { 
      background-size: cover;
    }
}
.main-body-wrapper {
  width: 80%;
  margin: 0 auto;
}



.title {
  font-size: 48px;
  font-family: 'Kreon', serif;
}




.footer-list-item {
    padding: 1em;
}
.activities,
.skills {
  width: 46%;
  float: left;
  margin: 0 2%;
}

.feeds {
  overflow: hidden;
  width: 100%;
}
.twitter-feed,
.spotify-feed {
  width: 46%;
  float: left;
  margin: 0 2%;
}

.activities-list-item {
    display: block;
    margin: 0 0 1em 0;
}
.skills-list-item {
  padding: 1em;
}


.containter{
  width: 100%;
  margin:0;
  padding:0;
  clear: both;
    overflow: hidden
}
.side-nav{
  height: 100%;
  width: 15%;
  float: left;
  display: inline-block;
  background-color: #0F4F9C;
  color: white;
  min-height: 200px;
  padding: 15px 10px;
  z-index: 100;
  position: fixed;
}
.side-nav a {
  color: white;
}
.side-logo img{
  text-align: center;
  margin: 0 auto;
    display: block;
    padding: 2em;
}
#content-wrapper{
  width: 85%;
  float: right;
  display: inline-block;
  text-align: center;
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -245px;
    @include breakpoint($bp-small) { 
      background-size: cover;
    }
}
.title-area{
  height: 300px;
  padding: 50px;
}
.title-area li{
  display: inline;
}
.about-me{
  background-color: white;
  min-height: 200px;
  height: auto;
}
.active {
  background-color: #C0F7FB;
}
.active a{
  color: #333333;
}
.web-dev-imgs{
  background-color: white;
}
.web-dev-imgs li{
  display: inline;
}
.articles{
  background-color: white;
  min-height: 200px;
  height: auto;
}
.articles li{
  display: inline-block;
  border-style: outset;
  padding: 3%;
  margin: 5px;
}

.totro {
  background-color: #ffffff;
}

.skillz {
  background-color: #ffffff;
}

.organizations {
  color: #ffffff;
}
.organizations-list-item a {
  color: #ffffff;
}

.speaking {
  background-color: #ffffff;
}
.projects, .writings {
  background-color: #ffffff;
      opacity: .8;
      margin-top: 4em;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 4em;
}
.small-note {
  font-style: italic;
  font-size: 10px;
}


/*Screan Breaks*/
@media screen and (max-width: 900px){
  .web-dev-imgs li{
  display: block;
  }
  .side-logo img{
  display: none;
  }
  .web-dev-hover img{
    width: 70%;
    height: auto;
  }
}
/*Why is this not computing!?*/
@media screen and (max-width: 620px){
  div #sticky.side-nav{
  height: 50px;
  width: 100%;
  display: block;
  background-color: white;
    position: absolute;
    margin: 0;
    min-height: 20px;
  }
  .side-nav li{
    display: inline;
    text-align: center;
    font-size: 12px;
    padding: 5px;
  }
  #content-wrapper{
    display: block;
    width: 100%;
    background-position-y: 0;
  }

  .articles li{
    margin: 15px;
  }
  footer{
    width: 100%;
  }
  footer img{
    width: 7%;
  }
}
/* GIF GRID */
.gifs {
  clear: both;
  overflow: hidden;
  background-color: #ffffff;
}

.gifs  img {
  width: 100%;
}

.grid {
  height: 100%;
}
/*.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }*/
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* WEB_DEV PAGE SPECIFIC */
// .web-dev-page{
//   display: inline-block;
// }
// .1{
//   background-image: url(images/road.jpg);
//   height: 10%;
//   height: auto;
// }
// .2{
//   background-image: url(images/road.jpg);
//   height: 10%;
//   height: auto;
// }
// .3{
//   background-image: url(images/road.jpg);
//   height: 10%;
//   height: auto;
// }