<!DOCTYPE html>
<html>

  {% include head.html %}
<div class="modal-overlay" id="modal-overlay"></div>
  <body class="home">

  <section>
    {{ content }}
  </section>

  <div class="design-note">Hmm... I recognize this design!
  </div>
  <div class="design-modal">
  <span class="close">x</span>
  <p>I took insperation from the design of the Sperry Rand Corporation's 1969 catelouge for the Univac 9400. Learn about it in the archives of the <a href="http://www.computerhistory.org/revolution/mainframe-computers/7/169/678" target="blank">Computer History Museum</a></p>
  <img src="assets/9400.jpeg">
  </div>

  </body>

</html>